#main {
    width: 95%;
    text-align: center;
}

#gameGrid {
    display: inline-grid;
    grid-gap: 1px;
}

.gridSquare {
    border: 1px solid black;
}

.shadedSquare {
    background-color: darkslategray;
}

#controlButtons {
    padding-top: 25px;
}

#resetBoard {
    color: #fff;
    text-transform: uppercase;
    background: #ed3330;
    padding: 20px;
    border-radius: 5px;
    display: inline-block;
    border: none;
}

#resetBoard:hover {
    background: #434343;
    letter-spacing: 1px;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.4s ease 0s;
}